@tailwind base;
@tailwind components;
@tailwind utilities;

.share--container {
  @apply absolute justify-between  bg-veryDarkGrayishBlue w-[260px] py-4 px-10 rounded-xl -right-[86px] bottom-[109px];
}

.share--content {
  @apply flex items-center space-x-8;
}

.share--content p {
  @apply text-grayishBlue tracking-[0.3em] text-[13px];
}

.share--socialmedia {
  @apply flex gap-4;
}

.share--container::before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid hsl(217, 19%, 35%);
  border-bottom: 10px solid transparent;
  right: 123px;
  top: 50px;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
